@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #00ABBD, #A1C7E0);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 155, 221, 0.521);

}

h1 {
    color: #FF9933;
    text-align: center;
    text-shadow: 1px 1px 2px #583511b7;
}

h2 {
    color: #026E81;
}

p {
    text-align: justify;
}
